<h1>Spoiler Warning!!</h1>

<details *ngFor="let res of response">
  <summary>{{ res.name }}</summary>
  <table>
    <tr>
      <td>Alias:</td>
      <td>{{ res.alias }}</td>
    </tr>
    <tr>
      <td>Wiki:</td>
      <td><a tauriOpen openWith="firefox" [href]="res.url">Link</a></td>
    </tr>
    <tr>
      <td>Sex:</td>
      <td>{{ res.sex }}</td>
    </tr>
    <tr>
      <td>Kind:</td>
      <td>{{ res.kind.join(', ') }}</td>
    </tr>
    <tr>
      <td>Images:</td>
      <td>
        <img *ngFor="let img of res.image" [src]="img" [alt]="">
      </td>
    </tr>
  </table>
</details>
